# ─── Servidor ────────────────────────────────────────────────
PORT=3001
NODE_ENV=production

# ─── Base de datos MySQL (Railway te da estos valores) ────────
DB_HOST=tu-host.railway.internal
DB_PORT=3306
DB_NAME=railway
DB_USER=root
DB_PASSWORD=tu-password-de-railway

# ─── JWT ─────────────────────────────────────────────────────
JWT_SECRET=2cc61874533930f084aa6a1a3bd97dca1d244ad9fefa9499524114f492233c4712891b8757dc464b97c5281dac1bc791
JWT_EXPIRES_IN=24h

# ─── Cloudinary ──────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=diyh9m9za
CLOUDINARY_API_KEY=193943583269819
CLOUDINARY_API_SECRET=-OYe4OwpWoUlFisn8T6EpSi2grs

# ─── Gmail ───────────────────────────────────────────────────
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=vr1004236748@gmail.com
EMAIL_PASS=euughesfchpapbbs

# ─── Cloudflare Turnstile ────────────────────────────────────
TURNSTILE_SECRET_KEY=0x4AAAAAADLD2wLpuwW-5zin60tVbcVO150

# ─── URLs (actualizar con tu dominio real de Vercel) ─────────
FRONTEND_URL=https://huella-segura.vercel.app
